<link rel="stylesheet" type="text/css" href="/css/style.css" >

<section class="pastPaperView">
   

        <div style="margin-top: 20%;">

                    <% content.forEach(element => { %>
                        
                            
                        <% if (element.papers.length != 0) { %>
                        <div class="paperView">
                            <h2><%=element.school%></h2>
                             <p><strong><%=element.program%>_<%=element.assessmentType%></strong></p>
                                <% element.papers.forEach(paper => { %>

                                        <a  href='https://istude.s3.ap-south-1.amazonaws.com/uploads/<%=element.school%>/<%=paper%>' download>
                                            <ul>
                                                <li><i class="bi bi-file-earmark-pdf-fill"><%=paper%></i></li>
                                                <li><div class="fa fa-download" id="download-btn"></div></li>                                                        
                                            </ul>
                                        </a>

                                <% }) %>
                        </div>
                        <% } %>

            <% }) %>

               
        </div>
    
          
        
</section>

<script>
    const pastPaperView = document.querySelector('.pastPaperView')
    
    if(pastPaperView.innerText.length == 0){
        pastPaperView.innerHTML = `
                      <div class="Non_Paper" >
                          <h1>Oops!</h1>
                          <h2>past papers for this course are not yet available</h2>
                       </div>
                    `
    }

</script>