<link rel="stylesheet" type="text/css" href="/css/style.css" >
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<section class="pastPaperView">

  <% if (user.accountType == 'freeTier') { %>

    <h3>
      <button><a href="/schools/upgrade">Upgrade to Premium</a></button> <small>to access assignments, sessional, test 2 and more assessments for <%=content[0].course %></small>
    </h3>
   
  <% } %>
    

        <div style="margin-top: 55px;">

                    <% content.forEach(element => { %>
                        
                        <% if (element.papers.length != 0) { %>
                        <div class="paperView">
                            <h2><%=element.school%></h2>
                             <p><strong><%=element.program%>_<%=element.assessmentType%></strong></p>

                             <% if (user.accountType == 'freeTier') { %>

                              <a href="/schools/<%=element.course%>/<%=element.papers[0]%>">
                                <ul>
                                    <li><i class="bi bi-file-earmark-pdf-fill"></i><%=element.papers[0]%></li>
                                    <li><i class="material-icons" id="preview-btn">picture_as_pdf</i></li>                                                  
                                </ul>
                              </a>

                              <p>
                                 <small> for more <%=content[0].course %> test 1 papers Upgrade to Premium</small>
                              </p>

                                 <% } else { %>
                                  
                                  <% element.papers.forEach(paper => { %>
     
                                          <a href="/schools/<%=element.course%>/<%=paper%>">
                                              <ul>
                                                  <li><i class="bi bi-file-earmark-pdf-fill"></i><%=paper%></li>
                                                  <li><i class="material-icons" id="preview-btn">picture_as_pdf</i></li>                                                  
                                              </ul>
                                            </a>
     
     
                                  <% }) %>
                             <% } %>

                        </div>
                        <% } %>

            <% }) %>

               
        </div>



        
    
</section>




