<link rel="stylesheet" type="text/css" href="/css/style.css" >

<section>

<% papers.forEach(element => { %>
    <div class="paperView" style="background-color:white ; margin-top: 6%; padding: 5%;">
        <h2><%=element.school%></h2>
        <p><%=element.program%></p>
        <p><%=element.course%></p>
        <p><%=element.yearOfStudy%></p>
        <div>
            <p><strong><%=element.assessmentType%></strong></p>
             <% element.papers.forEach(paper => { %>
               <a  href='/uploads/cbu/<%=element.school%>/<%=paper%>'>
                   <ul>
                       <li><i class="bi bi-file-earmark-pdf-fill"><%=paper%></i></li>
                       <li><div class="fa fa-download" id="download-btn"></div></li>
                   </ul>
               </a>
               <form action="/admin/delete" method="post">
                        <input type="hidden" name="id" value="<%= element._id%>">
                        <input type="hidden" name="singlePaper" value="<%= paper%>">
                        <button>delete</button>
                </form>
             <% }) %>
         </div>
        <div>

        </div>

    </div>
 
<% }) %>
</section>

<script src="/js/script.js"></script>
